@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .button {
    @apply px-7 py-3 bg-primary text-white rounded-lg hover:bg-primary/60;
  }
  .title {
    @apply text-2xl font-semibold mb-3 md:text-4xl md:mb-5;
  }
  .section {
    @apply px-10 md:px-14 lg:max-w-[1300px] mx-auto;
  }
  @font-face {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe UI Bold"), url("./public/assets/Segoe UI.woff") format("woff");
  }
  .big-space {
    @apply md:px-10;
  }
  p {
    @apply leading-7 text-sm md:text-base md:leading-8;
  }
}

html{
  scroll-behavior: smooth;
}
